


 .login-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in;
    background-image: linear-gradient(to top, black, white); 
}


.container {
    position: relative;
   
}

.container:hover .login-cover {
    
    transform: translateX(-200%); 
}


.login-main {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: white;
}


