.nav {
  background-color: black;
  color: #f2ede6;
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* .nav:hover {
    background-color: #f2ede6;
    color: black;
} */

.button {
  background-color: #414141;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0,
    rgba(168, 168, 168, 0.1) 0 3px 4px 0;
  color: #f2ede6;
  cursor: pointer;
  display: inline-block;
  padding: 0 20px 35px 20px;

  margin-bottom: 8px;
  transition: background-color 200ms, transform 200ms;
  position: relative;
  text-align: center;
}

.icon {
  opacity: 0;
  transition: opacity 500ms ease-in;
  position: absolute;
  left: 25%;
}

.button:hover .icon {
  opacity: 1;
}

.login-text {
  display: block;
  transition: opacity 200ms ease-in;
}

.button:hover .login-text {
  opacity: 0;
}

/* .button:hover {
    background-color: black;
} */

.menu-text {
  transition: letter-spacing 0.5s ease-in-out;
}

.menu-text:hover {
  letter-spacing: 1em;
  /* color:black ; */
}

/* .menu-bar {
    width: 50%;
    height: 2.5rem;
    background-color: slategray;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateY(-200%);
    transition: transform 10s ease-in-out;
  
}

.menu-bar.open {
    transform: translateY(0);
} */

/* .menu-bar {
    
    
    border-radius: 50px;
    position: absolute;
    top: -2.5rem; 
    left: 30%;
    opacity:0;
    transition: opacity 1s ease-in-out; 
} */

/* .nav:hover .menu-bar{
    color:black;
    border:1px solid black;

    
} */
.menu-bar:hover {
  background-color: #f2ede6;
  box-shadow: none;
  color: black;
  border: 1px solid black;
}

.menu-bar.open {
  top: 0;
  opacity: 1;
}

.close {
  opacity: 0;
  color: black;
}

.active {
  color: #414141;
}

.side-menu .a {
  transition: letter-spacing 0.5s ease-in-out;
}
.a:hover {
  color: #414141;
  
}
.side-menu .a:hover {
  color: #414141;
  letter-spacing:0.4em ;
}
.side-menu .active {
  color: #000000;
}

.side-menu .a:hover {
  color: #000000;
}
.menu-text {
  display: block;
}


/* @media (max-width: 480px){
    .menu .menu-bar .transform{
        display: none !important;
        
    }
}
 */


.menu-bar {
  width: 50%;
  height: 2.5rem;

  border-radius: 50px;
  position: absolute;
  top: -2.5rem;
  left: 30%;
  opacity: 0;
  background-color: none;
  transition: background-color 1s ease-in-out, opacity 1s ease-in-out;
  
}


.sidebar {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(128, 128, 128, 0.5); 
  color: white;
}
/* Styles for small and medium devices */
@media (max-width: 1024px) {
  /* Adjust breakpoint as needed */
  .menu-bar {
    display: none; /* Hide menu bar */
  }

  .button {
    background-color: #414141;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0,
      rgba(168, 168, 168, 0.1) 0 3px 4px 0;
    color: #f2ede6;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px 30px 20px;

    margin-bottom: 8px;
    transition: background-color 200ms, transform 200ms;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .menu-text {
    display: none; /* Hide MENU text on small devices */
  }

  .menu-bar {
    display: none; /* Ensure menu bar is hidden */
  }

  .hamburger-icon {
    display: block; /* Show hamburger icon */
  }

  .sidebar {
    display: block; /* Show sidebar menu */
  }

  .button {
    background-color: #414141;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0,
      rgba(168, 168, 168, 0.1) 0 3px 4px 0;
    color: #f2ede6;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px 30px 20px;

    margin-bottom: 8px;
    transition: background-color 200ms, transform 200ms;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .menu-text {
    display: none; /* Hide MENU text on small devices */
  }

  .menu-bar {
    display: none; /* Ensure menu bar is hidden */
  }

  .hamburger-icon {
    display: block; /* Show hamburger icon */
  }

  .sidebar {
    display: block; /* Show sidebar menu */
  }

  .button {
    background-color: #414141;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0,
      rgba(168, 168, 168, 0.1) 0 3px 4px 0;
    color: #f2ede6;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px 30px 20px;

    margin-bottom: 8px;
    transition: background-color 200ms, transform 200ms;
    position: relative;
    text-align: center;
  }
}
