/* .nav {
    background-color: black;
    color: white;
    transition: background-color 0.6s ease, color 0.6s ease; 
}

.nav:hover {
    background-color: #f2ede6;
    color: black;
}

.button {
    background-color: #414141;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0, rgba(168, 168, 168, 0.1) 0 3px 4px 0;
    color: #f2ede6;
    cursor: pointer;
    display: inline-block;
    padding: 0 25px;
    transition: all 200ms;
    position: relative;
}
.icon{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.button:hover .icon {
    opacity: 1;
    
}
.login-text{
    display:block;
    transition:display 800ms ease-in;
}

.button:hover .login-text {
    display: none;
}

.button:hover {
    background-color: black;
   
}


 */

 .nav {
    background-color: black;
    color: white;
    transition: background-color 0.6s ease, color 0.6s ease; 
}

.nav:hover {
    background-color: #f2ede6;
    color: black;
}

.button {
    background-color: #414141;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(133, 133, 133, 0.04) 0 0 1px 0, rgba(168, 168, 168, 0.1) 0 3px 4px 0;
    color: #f2ede6;
    cursor: pointer;
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 8px;
    transition: background-color 200ms, transform 200ms;
    position: relative;
}

.icon {
    opacity: 0;
    transition: opacity 500ms ease-in;
    position: absolute;
    left: 25%; 
    
   
}

.button:hover .icon {
    opacity: 1;
}

.login-text {
    display: block;
    transition: opacity 200ms ease-in;
}

.button:hover .login-text {
    opacity: 0;
}

.button:hover {
    background-color: black;
}

.transform  {
    transition: letter-spacing 0.5s ease-in-out;
  }
  
  .transform:hover  {
    letter-spacing: 1em;
    color:black ;
  }


  /* .menu-bar {
    width: 50%;
    height: 2.5rem;
    background-color: slategray;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateY(-200%);
    transition: transform 10s ease-in-out;
  
}

.menu-bar.open {
    transform: translateY(0);
} */

.menu-bar {
    width: 50%;
    height: 2.5rem;
    
    border-radius: 50px;
    position: absolute;
    top: -2.5rem; 
    left: 30%;
    opacity:0;
    transition: opacity 1s ease-in-out; 
}

.menu-bar.open {
    top: 0; 
    opacity:1;
}

.close{
    opacity:0;
}

.active {
    color: #bdc468;
    
    
  }

.a:hover{
    color: #bdc468;


}


  

