.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, transparent,black  );
    pointer-events: none; 
}
